html{
	background-image: url("quarta.jpg");
}
body{
	font-family: 'Montserrat', sans-serif;
}
header{
	padding: 15px 0;		/*espacamento interno p cima e p baixo e 0 p esquerda e p direita*/
}
.caixa{
	position: relative;
	width: 1240px;			/*largura fixa, essa é uma largura padrao usada na web*/
	margin: 0 auto;
}
nav{						/*criação do posicionamento da tag nav*/
	position: absolute;
	top: 110px;
	right: 0;
}
nav li{					/*todos os itens da lista que estao dentro do menu navegação*/
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform: uppercase;					/*todos os links da navegação tenham letras em maiusculo, nao mudei meu HTML, nao alterei a estrutura do html, so alterei o comportamento visual daquele HTML*/
	color: #000000;
	font-weight: bold;							/*texto em negrito*/
	font-size: 22px;
	text-decoration: none;						/*remover decoração do texto*/
}
.servico{
	width: 940px;
	margin: 0 auto;
	padding: 30px 0;
}
nav a:hover{
	color: #C78C19;
	text-decoration: underline;
}
.servico li{
	display: inline-block;
	text-align: center;
	width: 33%;
	vertical-align: top;
	margin: 0 1%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.servico li:hover{
	border-color: #C78C19;
}
.servico li:active{
	border-color: #088C19;
}
.servico li:hover h2{
	font-size: 34px;
}
.servico h2{
	font-size: 30px;
	font-weight: bold;
}
.produto-descricao{
	font-size: 18px;
}
.produto-preco{
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer{
	text-align: center;
	padding: 40px;
}
.copyright{
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}
.image-servico-photo{
	width: 100%;
}
main {
	width: 940px;
	margin: 0 auto;
}
form{
	margin: 40px 0;
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}
.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width:  50%;
}
.checkbox{
	margin: 20px 0;
}
.submeter{
	width: 40%;
	padding: 15px 0;
	background:  green;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}
.submeter:hover{
	background: darkgreen;
	transform: scale(1.2);
}
/*table{
	width: 40%;
	margin: 20px 0 40px;
}
thead{
	background: #555555;
	color: white;
	font-weight: bold;
}
td, th{
	border: 1px solid #000000;
	padding: 8px 15px;
	text-align: center;
}*/

/*css da página inicial*/

.banner{
	width: 88%;
	height: 450px;
	padding-top: 1px;
	padding-bottom: 2em;
	margin: auto;
	display: block;
	text-align: center;
}
.titulo-principal{
	text-align: center;
	font-size: 4em;
	font-weight: bold;
	margin: 0 0 1em;
	clear: left;
}
.principal p{
	font-size: 1em;
	margin: 0 0 1em;
	text-align: justify;
	line-height: 1.5;
}
.principal strong{
	font-weight: bold;
}
.principal em{
	font-style: italic;
}
.conteudo-about{
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}
.imagem-about{
	width: 300px;
	float: left;
	margin: 0 100px 100px 0px;
}
/*.imagem-photo{
	width: 50%;
	float: right;
	margin: 0 100px 100px 0px;
}*/
.video{
	margin: 2em auto;
}
.mapa{
	padding: 2em 0;
}
.mapa p{
	margin: 0 0 2em;
	text-align: center;
}
